@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

body {
  font-family: "Albert Sans";
}

:root {
  --background: 0, 0, 0;

  --primary-text: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 255, 255, 255;
  }
}
